.modal-dialog{
    min-width:805px;
}

a,
button{
    outline: none !important;
}

.modal-body{
    padding: 40px;
}

.modal h1 {
        font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.9375px;
    color: #20558A;
    margin-bottom: 23px;
}

.modal a{
    color:#20558A;
}
.modal p {
        font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.78125px;

    color: #000000;
}