body {
    background: #FFFFFF;
}

button,
a {
    outline: none !important;
}

.container {
    padding: 0;
    max-width: none;
    width: 100%;
}

.row {
    width: 100%;
    margin: 0;
}

.col {
    padding: 0;
}

h1 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: 1.25px;
    text-transform: capitalize;
}

h2 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 57px;
    letter-spacing: 1.25px;
    text-transform: capitalize;
}

h4 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.65625px;
    text-transform: capitalize;
}

p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.65625px;
}

.about-this-playbook,
.who-use,
.what-to-know,
.want-to-try {
    position: relative;
}

.about-this-playbook {
    height: 720px;
    background: #20558A;
    color: #FFFFFF;
}

.header-container {
    position: relative;
    width: 50%;
}

#header-logo {
    position: absolute;
    top: 35px;
    left: 10%;
}

.header-text {
    position: absolute;
    top: 280px;
    left: 10%;
    right: 10%;
    bottom: 10%;
}

.header-description {
    position: absolute;
    top: 200px;
    left: 0;
    right: 10%;
    bottom: 10%
}

#header-links {
    position: absolute;
    top: 35px;
    right: 35px;
}

#header-links a {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.65625px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin: 0 30px;
}

.who-use {
    position: relative;
    width: 100%;
    background: rgba(32, 85, 138, 1);
    background: -moz-linear-gradient(top, rgba(32, 85, 138, 1), rgba(32, 85, 138, 1)); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(32, 85, 138, 1)), color-stop(100%, rgba(32, 85, 138, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(32, 85, 138, 1), rgba(32, 85, 138, 1)); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(32, 85, 138, 1), rgba(32, 85, 138, 1)); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(32, 85, 138, 1), rgba(32, 85, 138, 1)); /* IE10+ */
    background: linear-gradient(to bottom, rgba(32, 85, 138, 1), rgba(32, 85, 138, 1)); /* W3C */
    color: #FFFFFF;
}

.who-use img {
    width: 100%;
}

.who-use-text {
    position: absolute;
    top: 186px;
    left: 20%;
    right: 20%;
    width: 760px;
    text-align: center;
}

.who-use p {
    margin-top: 10px;
}

.what-to-know {
    min-height: 900px;
}

.what-to-know h1 {
    color: #946C3B;
}

.what-to-know h4 {
    color: #20558A;
}


.want-to-try {
    position: relative;
    width: 100%;
    background: #F2F2ED;
    height: 460px;
}

.want-to-try-text {
    position: absolute;
    top: 116px;
    left: 20%;
    right: 20%;
    width: 760px;
    text-align: center;
}

.want-to-try-text h2 {
    color: #946C3B;
}

#start {
    background: #20558A;
    border-radius: 11px;
    border: 2px solid #20558A;
    padding: 19px 39px;
    margin-top: 52px;
    font-size: 24px;
}

#start:hover {
    background: #FFFFFF;
    color: #20558A;
}