body{
    background: #FFFFFF;
}

button,
a{
    outline:none !important;
}

.container{
    padding:0;
    max-width: none;
    width:100%;
}

.row{
    width:100%;
    margin:0;
}

.col{
    padding:0;
}

h1 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: 1.25px;
    color: #946C3B;
}

h2 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #946C3B;
}

h4 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.65625px;
    color: #21202C;
}

.header-container p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.65625px;
    color: #21202C;
}

.header-container{
    position:relative;
    width:50%;
}

#header-logo{
    position:absolute;
    top:35px;
    left:10%;
}

#header-text{
    position:absolute;
    top:20%;
    left:10%;
    right:10%;
}

#header-title,
#header-description{
    margin:31px 0;
}

#start{
    position: absolute;
    top:567px;
    left: 50%;
    transform: translateX(-50%);
    background: #946C3B;
    color:#FFFFFF;
    width: 417px;
    border-radius: 11px;
    border: 2px solid #946C3B;
    padding: 19px 39px;
    font-size: 24px;
}

#start:hover {
    background: #FFFFFF;
    color: #946C3B;
}

#header-img{
    position:relative;
    width:100%;
    background-image: linear-gradient(rgb(18 40 76), rgb(32 85 138));
    
    background: rgba(18, 40, 76, 1);
    background: -moz-linear-gradient(top, rgba(18, 40, 76, 1), rgba(32, 85, 138, 1)); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, rgba(18, 40, 76, 1)), color-stop(100%, rgba(32, 85, 138, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(18, 40, 76, 1), rgba(32, 85, 138, 1)); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(18, 40, 76, 1), rgba(32, 85, 138, 1)); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(18, 40, 76, 1), rgba(32, 85, 138, 1)); /* IE10+ */
    background: linear-gradient(to bottom, rgba(18, 40, 76, 1), rgba(32, 85, 138, 1)); /* W3C */
}

#header-links{
    position:absolute;
    top:35px;
    right:35px;
}

#header-links a {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.65625px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin:0 30px;
}

.module-container{
    padding-bottom: 100px;
    background: #EFF4F9;
}

.module{
    background: #FFFFFF;
    border: 2px solid rgba(207, 207, 207, 0.8);
    box-sizing: border-box;
    border-radius: 11px;
    padding:35px;
    height: 240px;
    margin:16px;
    position: relative;
}

.module:hover{
    background: #FAFAF8;
    border: 2px solid rgba(148, 108, 59, 0.7);

}
.module:hover h4,
.module:hover a{
    color:#946C3B;
}

.module h4{
    margin-bottom:16px;
    text-transform: capitalize;
    display: inline;
}

.module p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.65625px;
    color: #21202C;
}

.module a{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.65625px;
    color: #20558A;
    position: absolute;
    bottom:40px;
    right:33px;
}
.module-title h2{
    text-align: center;
    margin:100px auto;
}

.module-label{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #20558A;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: text-bottom;
}
