body{
    background: #F2F2F2;
}

.container{
    padding:0;
    max-width: none;
    width:100%;
}

.row{
    width:100%;
    margin:0;
}

.col{
    padding:0;
}

h1 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 75px;
    letter-spacing: 1.25px;
    color: #946C3B;
}

h2 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 1.25px;
    color: #946C3B;
}

h4 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.65625px;
    color: #21202C;
}

.header-container p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.65625px;
    color: #21202C;
}

.header-container{
    position:relative;
    width:50%;
}

#header-logo{
    position:absolute;
    top:35px;
    left:20%;
}

#header-text{
    position:absolute;
    top:20%;
    left:20%;
    right:20%;
}

#header-title,
#header-description{
    margin:31px 0;
}

#regress{
    background: #20558A;
    border-radius: 11px;
    padding:19px 39px;
}

#header-img{
    position:relative;
    width:100%;
}

#header-links{
    position:absolute;
    top:35px;
    right:35px;
}

#header-links a {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.65625px;
    color: #FFFFFF;
    text-transform: capitalize;
    margin:0 30px;
}

.module-container{
    margin-bottom: 100px;
}

.module{
    background: #FFFFFF;
    border: 2px solid rgba(207, 207, 207, 0.8);
    box-sizing: border-box;
    border-radius: 11px;
    padding:35px;
    height: 260px;
    margin:16px;
    position: relative;
}

.module h4{
    margin-bottom:16px;
}

.module p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.65625px;
    color: #21202C;
}

.module a{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.65625px;
    color: #20558A;
    position: absolute;
    bottom:40px;
    right:33px;
}
.module-title h2{
    text-align: center;
    margin:100px auto;
}

.module-label{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #20558A;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: middle;
}
