.navbar{
    background: #20558A;
    min-height: 70px;
    width:100%;
}

#navigation-dropdown #dropdownMenuLink {
    border: none;
    cursor: pointer;
}

#module-name{
    color: #FFFFFF;
    text-transform: capitalize;
    display:inline-block;
    font-size:18px;
}

.prompt{
    font-family: Lato;
    /*font-style: italic;*/
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5625px;
    color: #FFFFFF;
}

#progress-container > .prompt{
    text-align: center;
    margin-bottom: 5px;
}

.progress {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4.5px;
    height: 5px;
    width: 190px
}

.progress-bar {
    background-color: #FFFFFF;
    border-radius: 4.5px;
}

/*#navigation-btns{*/
/*    float: right;*/
/*}*/

#navigation-btns .btn-secondary{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    text-transform: capitalize;
    color:#FFFFFF;
}

#survey {
    background: #F2F2F2;
}

h1 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1.25px;
    color: #946C3B;
}

h2 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.78125px;
    color: #946C3B;
}

p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.65625px;
    color: #21202C;
}

.qna-container {
    max-width: 100%;
    min-height: 90vh;
    padding: 0;
}

.question-container {
    padding: 100px 32px 32px 100px;
}

#question-description {
    margin-top: 18px;
}

.answer-container {
    padding: 32px;
}

.answer {
    background: #F8F8F5;
    border-radius: 11px;
    padding: 36px;
    margin: 30px 0;
}

.answer-text {
    display: inline;
}

.answer-description {
    font-size: 18px;
    margin-top: 16px;
}

.answer-description{

}