.navigation-container{
    background: #20558a;
    min-height: 100px;
    padding: 20px;
}

#navigation-dropdown{
    float:left;
}

#navigation-dropdown #dropdownMenuLink{
    border-radius: 20px;
    min-width: 200px
}

#navigation-btns{
    float: right;
}

.qna-container{
    padding:50px;
}

#survey{
    margin:0 10%;
}

.answer-text{
    display: inline;
}

.answer-description{

}