body {
    background: #F2F2F2;
}

.row {
    width: 100%;
    margin: 0;
}

.col {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0;
    max-width: none;
    width: 100%;
}

.navbar {
    background: #20558A;
    min-height: 70px;
    width: 100%;
    padding: 0 34px;
}

.navbar-text {
    padding-bottom: 0;
}

.sidenav{
    display: none;
}

.sidenav.active{
    display: block;
}

.sidenav .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(97, 98, 101, 0.55);
    /*display: none; !* making it hidden by default *!*/
}

.sidenav .list-group {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 360px;
    background-color: #20558A;
}

.sidenav .list-group-header{
    background: #FFFFFF;
    height:70px;
    padding: 15px 34px;
}

.sidenav .list-group-item{
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.75px;
    color: #FFFFFF;
    background: none;
    border: none;
    padding: 25px 34px;
}

.dropdownMenuLink {
    border: none;
    cursor: pointer;
    font-size: 22px;
    padding:0;
    margin-right: 15px;
    background: none;
}

.sidenav .dropdownMenuLink {
     color: #20558A;
}

#survey {
    position: absolute;
    top: 0;
    z-index: -1;
    width:100%;
}

.navbar-nav .dropdownMenuLink {
    color: #FFFFFF !important;
}

#module-name {
    color: #FFFFFF;
    text-transform: capitalize;
    display:inline-block;
    font-size:22px;
}

.prompt{
    font-family: Lato;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5625px;
    color: #FFFFFF;
    margin:auto auto;
}

#progress-container > .prompt{
    text-align: center;
    margin-bottom: 5px;
}

.progress {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 4.5px;
    height: 5px;
}

.progress-bar {
    background-color: #FFFFFF;
    border-radius: 4.5px;
}

#navigation-btns .btn-secondary{
    background: #FFFFFF;
    color:#20558A;
    border-radius: 8px;
    text-transform: capitalize;
    border: 1px solid #20558A;
}

#navigation-btns .btn-secondary:hover,
#navigation-btns .btn-secondary:active,
#navigation-btns .btn-secondary:focus {
    background: #20558A;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}

h1 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 1.25px;
    color: #946C3B;
}

h2 {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    letter-spacing: 0.78125px;
    color: #946C3B;
}

p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 0.65625px;
    color: #21202C;
}

#alert{
    background: linear-gradient(0deg, rgba(175, 215, 255, 0.2), rgba(175, 215, 255, 0.2)), #FFFFFF;
    color:#20558A;
    border:none;
    display: none;
}
#alert-close{
    color:#20558A;
    opacity: 0.8;
}

#qna-container,
#result-container {
    max-width: 100%;
    min-height: calc(100vh - 82px - 70px);
    padding: 0;
}

#result-container {
    padding: 0 135px;
}

.question-container {
    padding: 100px 32px 32px 100px;
}

#question-description {
    margin-top: 18px;
}

.answer-container {
    padding: 32px;
}

.answer {
    border: 2px solid #F8F8F5;
    background: #F8F8F5;
    border-radius: 11px;
    padding: 36px;
    margin: 30px 0;
    cursor: pointer;
    position: relative;
}

#answer-prompt {
    font-family: Lato;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5625px;
    color: #616265;
    text-transform: capitalize;
}

.answer.selected {
    background: linear-gradient(0deg, rgba(175, 215, 255, 0.2), rgba(175, 215, 255, 0.2)), #FFFFFF;
    border: 2px solid rgba(32, 85, 138, 0.5);
    box-shadow: 0px 0px 10px rgba(32, 85, 138, 0.2);
}

.answer.selected > h2 {
    color: #20558A;
}

.answer:hover,
.answer:focus,
.answer:active {
    border: 2px solid rgba(32, 85, 138, 0.5);
}

/*radio and checkbox*/
.answer > input {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    margin-right: -5px;
}

.answer-text {
    display: inline;
}

.answer-description {
    font-size: 18px;
    display:none;
}

.answer-description.selected {
    display:block;
    margin-top: 16px;
}

.recommended {
    z-index: 1;
    position: absolute;
    right: 20px;
    top: 0;
    background: #946C3B;
    color: white;
    height: 42px;
    width: 32px;
    border-radius: 0;
    text-align: center;
    padding:5px;
}

.checklist-container,
.report {
    border: 2px solid #CFCFCF;
    border-radius: 11px;
    padding: 43px;
    margin: 27px 0;
    background-color: #FFFFFF;
}

.checklist-container hr {
    border: 1px solid #979797;
}

.checklist-container h3 {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.75px;
    color: #000000;
}

.checklists {
    margin: 20px 0;
}

.checklist-activity {
    font-family: Lato;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.75px;
    color: #000000;
    text-decoration: underline;
}

.reports-header,
.results-header{
    margin: 55px 0;
}

.download-pdf{
    color:white;
    background: #20558A;
    border-radius: 8px;
    display:block;
    margin:60px auto;
    padding:8px 19px;
    text-transform: capitalize;
}

.reports-header h1,
.reports-header .download-pdf,
.results-header h1,
.results-header .download-pdf{
    display:inline;
    margin:auto;
}

.results-header .download-pdf,
.reports-header .download-pdf{
    vertical-align: text-bottom;
    float:right;
}

.report-question{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.78125px;
    color: #000000;
}

.report-answer{
    position: relative;
}

.report-expand,
.report-collapse{
    position:absolute;
    right:0;
    color: #20558A;
    font-size: 30px;
    cursor: pointer;
}
.report-collapse,
.report-answer-description{
    display:none;
}

.report h3{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.9375px;
    color: #20558A;
    margin:22px 0;
}

.report p{
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.65625px;
    color: #21202C;
}

/* for pdf */
.result-pdf.print h1{
    font-size: 18px;
    text-align: center;
    display:block;
    line-height: inherit;
}
.result-pdf.print .report,
.result-pdf.print .checklist-container{
    border:none;
    margin: 0;
    border-radius: 0;
    padding:0;
}
.result-pdf.print .report p{
    font-size:13px;
    line-height: inherit;
}
.result-pdf.print .report h3{
    margin:5px 0;
    font-size:16px;
    line-height: inherit;
}
.result-pdf.print .answer-pretty-id{
    font-size:10px;
    margin-right:3px;
    padding:2px 4px;
    line-height: inherit;
    vertical-align: middle;
}
.result-pdf.print .report .report-question{
    font-size: 16px;
    line-height: inherit;
}
.result-pdf.print .report .report-collapse,
.result-pdf.print .report .report-expand{
    display: none;
}
.result-pdf.print .report .report-answer-description{
    display: block;
}

.result-pdf.print .checklist-activity{
    font-size:13px;
    line-height:inherit;
}

.result-pdf.print .checklist-container h3,
.result-pdf.print .checklist-container hr{
    display: None;
}

.result-pdf.print .reports-header,
.result-pdf.print .results-header{
    margin: 10px 0;
}


.answer-pretty-id,
.answer-pretty-id.selected{
    font-family: Lato;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.541667px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #20558A;
    padding: 5px 10px;
    border-radius: 50%;
    margin-right: 15px;
    vertical-align: bottom;
}

