<div class="modal" tabindex="-1" role="dialog" id="about-creators-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h1>About the Creators</h1>
                <p>
                    <a href="http://www.ncsa.illinois.edu/" target="_blank">NCSA</a>’s <a
                        href="https://opensource.ncsa.illinois.edu/confluence/display/ISDA/ISDA"
                        target="_blank">Software Directorate </a> serves as an
                    intersection between scientific discovery,
                    research, software development, and excellent support services. NCSA research software engineers
                    apply their skills
                    and expertise to address challenges that impact society across a variety of domains, such as
                    building
                    and supporting software for modeling, simulation, analytics, genomics, phonemics, and artificial
                    intelligence.
                </p>
                <p>
                    Adding to the Center’s rich history of innovation, the Software team develops reusable and
                    repurposable frameworks in support of existing NCSA software activities and efforts, which can then be leveraged
                    on new projects and initiatives to accelerate research. NCSA offers frameworks and services for data
                    management, analysis and machine learning, visualization, simulation and modeling, and
                    cyber protection through software.
                </p>
            </div>
        </div>
    </div>
</div>