<!DOCTYPE html>
<html lang="en">
<head>
    <title>SHIELDPK12</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/about-us.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/about-creators.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">

     <!-- favicon-->
    <link rel="shortcut icon" href="{{url_for('static', filename='img/favicon.ico') }}">
</head>

<body>
<div class="container about-this-playbook">
    <div class="row">
        <div class="header-container">
            <a href="/"><img src="{{url_for('static', filename='img/shieldpk12-logo-d.svg')}}" id="header-logo"></a>
            <div class="header-text">
                <h1 class="header-title">About This Playbook</h1>
            </div>
        </div>
        <div class="header-container">
            <div id="header-links">
                <a href="/about-us">About Us</a>
                <a href="/">Playbook</a>
            </div>
            <div class="header-description">
                <p>
                    The purpose of this playbook is to provide a user-friendly guide to the decisions that need to be
                    made around school management during a pandemic. The guide is organized into independent modules,
                    each covering a different topic.
                </p>
                <p>
                    In each module, you will be asked to answer questions. Your answers will inform the next questions
                    to be asked. If you want to change your answers, you can always step back through the process or
                    start over completely.</p>
                <p>
                    At the end of a module, you will be provided with a checklist associated with your choices, as well
                    as a record of all the answers you provided. You will be able to download this final report. The
                    checklist items will include links to useful support documents, websites, and examples.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container who-use" >
    <div class="row">
        <img src="{{url_for('static', filename='img/shieldpk12-about.png')}}">
        <div class="who-use-text">
            <h2>Who should use this playbook?</h2>
            <p>Anyone involved in school administration can benefit from this playbook. Individual modules may be best
                completed by different staff members.</p>
        </div>
    </div>
</div>
<div class="container what-to-know">
    <div class="row">
        <div class="header-container">
            <div class="header-text">
                <h1 class="header-title">What Should I Know Before Starting?</h1>
            </div>
        </div>
        <div class="header-container">
            <div class="header-description">
                <p>
                    The decision to reopen a school during the COVID-19 pandemic will rely on many factors: risk of
                    infection, need to care for students, ability to provide remote education, and others. Here we
                    will address only the risk of infection, as the other factors are best decided by individual
                    districts. This playbook is meant to provide the best information possible to limit the spread
                    of infection within a school. First, we must make this abundantly clear:
                </p>
                <h4>There Will Be Cases Within Your School</h4>
                <br>
                <p>
                    Given the level of spread throughout the world, it is highly likely that at least one person 
                    (student, faculty, or staff) will become infected during the semester. No school can prevent 
                    cases that occur in the community. That is not the goal of this playbook. The goal of this 
                    playbook is to limit the spread of infection <b>WITHIN</b> your school.Because we know that there
                    will be infectious people in your school building at some point, how do we limit transmission
                    (spread of the infection to other people)? There are 10 layers to limiting disease spread, which
                    can be combined in many ways.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container want-to-try" >
    <div class="row">
        <div class="want-to-try-text">
            <h2>Want to Try this playbook?</h2>
            <p>Anyone involved in school administration can benefit from this playbook. Individual modules may be best
                completed by different staff members</p>
            <a class="btn btn-primary" id="start" href="/cleaning/questions">Get Started</a>

        </div>
    </div>
</div>
{% include 'footer.html' %}
{% include 'about-creators.html' %}
<script type="text/javascript" src="{{url_for('static', filename='js/landing.js')}}"></script>
</body>
</html>