<div class="container">
    <nav class="navbar navbar-expand-md footer">
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-chevron-down"></i>
        </button>
        <span class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav my-auto mr-auto">
                <a href="/about-us">About Us</a>
                <a href="/contact-us">Contact Us</a>
            </ul>
            <ul class="navbar-nav my-auto mr-3">
                <p><i class="far fa-copyright"></i>2021 All Rights Reserved</p>
            </ul>
            <ul class="navbar-nav ml-auto my-auto mt-2">
                <a href="http://www.ncsa.illinois.edu/" target="_blank">
                    <img src="{{url_for('static', filename='NCSA-logo.svg')}}">
                </a>
                <a href="https://www.uillinois.edu/shield" target="_blank">
                    <img src="{{url_for('static', filename='shield-logo.svg')}}">
                    SHIELD ILLINOIS
                </a>
            </ul>
        </span>
    </nav>
</div>