<!DOCTYPE html>
<html lang="en">
<head>
    <title>SHIELDPK12</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous"/>
    <link href="http://fonts.googleapis.com/css?family=Merriweather"
          rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{{url_for('static', filename='landing.css')}}">
</head>

<body>
<div class="container" id="landing">
    <div class="row">
        <div class="header-container">
            <div id="header-text">
                <h1 id="header-title">Shield K - 12 Playbook</h1>
                <p id="header-description">Description of RADx or the playbook goes here</p>
                <a class="btn btn-primary" id="regress" href="/regress">Get Started</a>
            </div>
        </div>
        <div class="header-container">
            <img id="header-img" src="{{url_for('static', filename='radx.png')}}"/>
            <div id="header-links">
                <a href="/about-us">About Us</a>
                <a href="/cleaning/questions">Playbook</a>
            </div>
        </div>
    </div>
</div>
<div class="container" id="modules">
    <div class="row">
        <h2>Playbook Modules</h2>
    </div>
    <div class="row module-row">
        <div class="col col-lg-4 col-md-6 col-sm-6">
            <div class="module">
                <h4><span class="module-label">1</span>Cleaning</h4>
                <p>Cleaning module description goes here Cleaning module description goes here Cleaning module</p>
                <a href="/cleaning/questions">start&nbsp;<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-sm-6">
            <div class="module">
                <h4><span class="module-label">2</span>Distancing</h4>
                <p>Distancing module description goes here Distancing module description goes here Distancing
                    module</p>
                <a href="/distancing/questions">start&nbsp;<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-sm-6">
            <div class="module">
                <h4><span class="module-label">3</span>IT</h4>
                <p>IT module description goes here IT module description goes
                    here IT module</p>
                <a href="/data-infrastructure/questions">start&nbsp;<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row module-row">
        <div class="col col-lg-4 col-md-6 col-sm-6">
            <div class="module">
                <h4><span class="module-label">4</span>Mask</h4>
                <p>Mask module description goes here Mask module description goes here Mask module</p>
                <a href="/mask/questions">start&nbsp;<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-sm-6">
            <div class="module">
                <h4><span class="module-label">5</span>Testing</h4>
                <p>Testing module description goes here Testing module description goes here Testing module</p>
                <a href="/testing/questions">start&nbsp;<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col col-lg-4 col-md-6 col-sm-6">
            <div class="module">
                <h4><span class="module-label">6</span>Ventilation</h4>
                <p>Ventilation module description goes here Ventilation module description goes here Ventilation
                    module</p>
                <a href="/ventilation/questions">start&nbsp;<i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="{{url_for('static', filename='landing.js')}}"></script>
</body>
</html>