<!DOCTYPE html>
<html lang="en">
<head>
    <title>SHIELDPK12</title>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
          crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Merriweather"
          rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato"
          rel="stylesheet" type="text/css">

    <script src="https://unpkg.com/jquery"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/landing.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/about-creators.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/footer.css')}}">

     <!-- favicon-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="header-container">
            <a href="/"><img src="{{url_for('static', filename='img/shieldpk12-logo-d.svg')}}" id="header-logo"></a>
            <div id="header-text">
                <h1 id="header-title">Shield K-12 Playbook</h1>
                <p id="header-description">A playbook app to help K-12 schools and administrators make decisions
                    related to COVID-19, access targeted resources and make plans for implementation. To generate a
                    useful checklist of strategies to use, select a module and answer the questions.</p>
            </div>
        </div>
        <div class="header-container">
            <img id="header-img" src="{{url_for('static', filename='img/shieldpk12-landing.png')}}"/>
            <div id="header-links">
                <a href="/about-us">About Us</a>
                <a href="/">Playbook</a>
            </div>
        </div>
        <a class="btn btn-primary" id="start" href="#module-start">Select a Module to Begin &nbsp;<i
                class="fas fa-angle-double-down"></i></a>

    </div>
</div>
<div class="container module-container">
    <div class="row module-title">
        <h2 id="module-start">Playbook Modules</h2>
    </div>
    <div class="row module-row">
        {% for item in data %}
            <div class="col col-lg-4 col-md-6 col-sm-6">
                <div class="module">
                    <h4><span class="module-label">{{loop.index}}</span>{{item.moduleName}}</h4>
                    <p>{{item.moduleDescription}}</p>
                    <a href="/{{item.moduleName}}/questions" id="{{item.moduleName}}">Start
                        &nbsp;<i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% include 'footer.html' %}
{% include 'about-creators.html' %}

<!--this is how jinja parse data from flask app-->
<script>var data=JSON.parse('{{data|tojson|safe}}');</script>
<script type="text/javascript" src="{{url_for('static', filename='js/landing.js')}}"></script>
</body>
</html>