<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SHIELDPK12</title><meta name="viewport" content="width=device-width"/>
        <script src="https://unpkg.com/jquery"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='questions.js')}}"></head>
    <body>
        <div id="survey">
            <h1 id="survey-title"></h1>
            <div id="survey-options"></div>
            <button type="button" id="prev">prev</button>
            <button type="button" id="next">next</button>
            <button type="button" id="submit">submit</button>
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='questions.js')}}"></script>
    </body>
</html>