<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SHIELDPK12</title><meta name="viewport" content="width=device-width"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
              integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
              crossorigin="anonymous"/>
        <link href="http://fonts.googleapis.com/css?family=Merriweather"
              rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato"
              rel="stylesheet" type="text/css">

        <script src="https://unpkg.com/jquery"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="{{url_for('static', filename='questions.css')}}"></head>

    <body>
        <div class="modal" tabindex="-1" role="dialog" id="error">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p id="error-message"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Report</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="survey">
            <nav class="navbar navbar-expand-md">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-chevron-down"></i>
                </button>
                <span class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <div class="nav-item dropdown show" id="navigation-dropdown">
                            <a class="nav-link" href="#" role="button"
                               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bars"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="/testing-decision/questions">Testing Decision</a>
                                <a class="dropdown-item" href="/distancing-decision/questions">Distancing Decision</a>
                                <a class="dropdown-item" href="/mask-decision/questions">Mask Decision</a>
                                <a class="dropdown-item" href="/ventilation-decision/questions">Ventilation
                                    Decision</a>
                                <a class="dropdown-item" href="/cleaning-decision/questions">Cleaning Decision</a>
                            </div>
                        </div>
                        <span class="navbar-text"><p class="prompt" id="module-name"></p></span>
                    </ul>
                    <ul class="navbar-nav mr-3">
                        <div class="nav-item" id="progress-container">
                            <p class="prompt"></p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                        </div>
                    </ul>
                    <ul class="navbar-nav mr-3">
                        <div class="nav-item" id="navigation-btns">
                            <button type="button" class="btn btn-secondary" id="prev">
                                <i class="fas fa-caret-left"></i>&nbsp;Back
                            </button>
                            <button type="button" class="btn btn-secondary" id="next">
                                <i class="fas fa-caret-right"></i>&nbsp;Next
                            </button>
                            <button type="button" class="btn btn-secondary" id="restart">
                                <i class="fas fa-redo"></i>&nbsp;Restart
                            </button>
                        </div>
                    </ul>
                    <ul class="navbar-nav ml-auto my-auto mt-2">
                        <span class="navbar-text"><p class="prompt">leave & finish it later</p></span>
                    </ul>

                </span>
            </nav>
            <div class="qna-container container">
                <div class="row">
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                         <div class="question-container">
                            <h1 id="question-title"></h1>
                            <p id="question-description"></p>
                        </div>
                    </div>
                    <div class="col col-lg-6 col-md-6 col-sm-12">
                         <div class="answer-container">
                            <div id="answers"></div>
                            <div id="question-resource-list"></div>
                            <div id="answer-resource-list"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="result-container container">
                <div class="row">
                    <div class="col col-lg-12 col-md-12 col-sm-12">
                        <h1>Testing Checklist</h1>
                        <div class="checklist-container">
                            <h3>Activities To Complete</h3>
                            <hr>
                            <div class="checklists"></div>
                        </div>
                    </div>
                    <div class="col col-lg-12 col-md-12 col-sm-12">
                        <h1>Your Testing Decision Report:</h1>
                        <div class="report-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
<!--             <button type="button" id="download-zip">Download Complete Resources</button>-->
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='questions.js')}}"></script>
    </body>
</html>