<!DOCTYPE html>
<html lang="en">
    <head>
        <title>One choice - Radio Group question, jQuery Survey Library Example</title><meta name="viewport" content="width=device-width"/>
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/survey-jquery@1.8.21/survey.jquery.min.js"></script>
        <link href="https://unpkg.com/survey-knockout@1.8.21/modern.css" type="text/css" rel="stylesheet"/>
        <link rel="stylesheet" href="{{url_for('static', filename='questions.js')}}"></head>
    <body>
        <div id="surveyElement" style="display:inline-block;width:100%;"></div>
        <div id="surveyResult"></div>
        <script type="text/javascript" src="{{url_for('static', filename='questions.js')}}"></script>
    </body>
</html>